/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================*/

.main-menu .navbar-header {
	height: 5.45rem !important;
}

.option-right {
	padding-right: 2px !important;
}
.sidebarBottom {
	padding: 0 10px 10px 10px !important;
}
.dz-preview .dz-file-preview .dz-processing .dz-success .dz-complete .dz-message {
	font-size: 1rem;
    font-family: "Montserrat", Helvetica, Arial, serif !important;
}
.validateText {
	font-size: 14px;
	padding-bottom: 14px;
}
